In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import KFold
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('data/labeled_train.csv')

In [4]:
df.head()

,Unnamed: 0,Unnamed: 0.1,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,...,plan_configuration_m,plan_configuration_n,plan_configuration_o,plan_configuration_q,plan_configuration_s,plan_configuration_u,legal_ownership_status_a,legal_ownership_status_r,legal_ownership_status_v,legal_ownership_status_w
0,0,47748,4,30,266,1224,1,25,5,2,...,0,0,0,0,0,0,0,0,1,0
1,1,212102,8,17,409,12182,2,0,13,7,...,0,0,0,0,0,0,0,0,1,0
2,2,60133,12,17,716,7056,2,5,12,6,...,0,0,0,0,0,0,0,0,1,0
3,3,34181,16,4,651,105,2,80,5,4,...,0,0,0,0,0,0,0,0,1,0
4,4,25045,17,3,1387,3909,5,40,5,10,...,0,0,0,0,0,0,0,0,1,0

In [5]:
labels = df["damage_grade"]
df.drop(["damage_grade"], axis=1, inplace=True)

In [6]:
df.head()

,Unnamed: 0,Unnamed: 0.1,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,...,plan_configuration_m,plan_configuration_n,plan_configuration_o,plan_configuration_q,plan_configuration_s,plan_configuration_u,legal_ownership_status_a,legal_ownership_status_r,legal_ownership_status_v,legal_ownership_status_w
0,0,47748,4,30,266,1224,1,25,5,2,...,0,0,0,0,0,0,0,0,1,0
1,1,212102,8,17,409,12182,2,0,13,7,...,0,0,0,0,0,0,0,0,1,0
2,2,60133,12,17,716,7056,2,5,12,6,...,0,0,0,0,0,0,0,0,1,0
3,3,34181,16,4,651,105,2,80,5,4,...,0,0,0,0,0,0,0,0,1,0
4,4,25045,17,3,1387,3909,5,40,5,10,...,0,0,0,0,0,0,0,0,1,0

In [7]:
labels.head()

0    2
1    3
2    3
3    2
4    2
Name: damage_grade, dtype: int64

In [8]:
x_train, x_test, y_train, y_test = train_test_split(df, labels, test_size=.2)

In [9]:
kmeans = KMeans(n_clusters=3)
y_pred = kmeans.fit_predict(df)
kmeans.cluster_centers_

array([[1.31111500e+05, 1.30171376e+05, 5.29071197e+05, 1.39076880e+01,
        7.01333718e+02, 6.27522878e+03, 2.12636296e+00, 2.65519890e+01,
        8.01837692e+00, 5.42164110e+00, 8.85580299e-02, 7.61250231e-01,
        3.37391425e-02, 1.89775457e-02, 6.82752726e-02, 7.52055997e-02,
        2.56514507e-01, 8.63749769e-02, 4.25868601e-02, 1.54084273e-02,
        1.46922935e-02, 9.84094899e-01, 1.11405008e-01, 6.35279985e-02,
        3.39817039e-02, 8.08538163e-03, 8.66290889e-04, 3.92718536e-04,
        9.58695250e-04, 1.84808723e-04, 1.38606542e-04, 8.08538163e-05,
        5.33635188e-03, 5.52116060e-03, 4.04731103e-02, 8.40960543e-01,
        5.43568656e-02, 5.86883201e-02, 1.36793107e-01, 3.22722232e-02,
        8.30934670e-01, 7.02365552e-01, 2.35966088e-01, 6.16683607e-02,
        8.05523471e-01, 1.91739050e-03, 9.41369433e-02, 9.46451673e-02,
        3.77702828e-03, 1.52952319e-01, 6.34864166e-01, 4.55669008e-02,
        1.66616614e-01, 5.07877472e-02, 9.00942524e-03, 7.75422750e-01,
        1.64780078e-01, 9.81796341e-04, 1.52467196e-03, 9.59769451e-01,
        6.93032711e-05, 1.73258178e-04, 1.03954907e-04, 6.81482166e-04,
        2.15186657e-02, 1.46691924e-03, 1.37104971e-02, 2.14724635e-02,
        5.75217150e-03, 9.62195066e-01, 1.05802994e-02],
       [2.17500000e+05, 1.30310474e+05, 8.78705692e+05, 1.38664169e+01,
        7.01476851e+02, 6.24952450e+03, 2.13162260e+00, 2.63110637e+01,
        8.00302781e+00, 5.44208304e+00, 8.86416631e-02, 7.63401817e-01,
        3.49879932e-02, 1.79696291e-02, 6.71337920e-02, 7.59039918e-02,
        2.55252259e-01, 8.48018004e-02, 4.30041415e-02, 1.57306760e-02,
        1.54174546e-02, 9.83608079e-01, 1.12690108e-01, 6.55560840e-02,
        3.34798900e-02, 7.87693878e-03, 9.62865860e-04, 3.36423011e-04,
        1.22968411e-03, 1.85612696e-04, 1.39209522e-04, 5.80039675e-05,
        4.82593009e-03, 5.51037691e-03, 4.04519669e-02, 8.42264011e-01,
        5.47905477e-02, 5.69830976e-02, 1.38014640e-01, 3.14961543e-02,
        8.30489205e-01, 7.00444310e-01, 2.36981010e-01, 6.25746801e-02,
        8.04306215e-01, 2.19254997e-03, 9.42448463e-02, 9.54165265e-02,
        3.83986265e-03, 1.52863656e-01, 6.33252514e-01, 4.67976010e-02,
        1.67086229e-01, 5.14031160e-02, 8.64259115e-03, 7.77009547e-01,
        1.62944745e-01, 1.03247062e-03, 1.14847856e-03, 9.59188408e-01,
        1.27608728e-04, 1.39209522e-04, 1.85612696e-04, 5.33636501e-04,
        2.19719029e-02, 1.36889363e-03, 1.43037784e-02, 2.06494124e-02,
        5.46397374e-03, 9.64014339e-01, 9.87227526e-03],
       [4.39115004e+04, 1.30416516e+05, 1.75821861e+05, 1.39264324e+01,
        7.00424599e+02, 6.24896741e+03, 2.13117143e+00, 2.67381354e+01,
        8.03247404e+00, 5.43933321e+00, 8.87342868e-02, 7.61170067e-01,
        3.42730916e-02, 1.77627983e-02, 6.90357989e-02, 7.47062306e-02,
        2.53222354e-01, 8.38722900e-02, 4.21866460e-02, 1.64305884e-02,
        1.48478776e-02, 9.84138732e-01, 1.11552651e-01, 6.40599381e-02,
        3.34191109e-02, 8.33485152e-03, 9.90617599e-04, 3.52978685e-04,
        1.02477683e-03, 1.93568956e-04, 1.59409729e-04, 1.25250501e-04,
        5.19220259e-03, 5.63627255e-03, 4.08544361e-02, 8.40146201e-01,
        5.50077428e-02, 5.83553471e-02, 1.34222991e-01, 3.19616506e-02,
        8.33815358e-01, 7.02029058e-01, 2.35915012e-01, 6.20559300e-02,
        8.03288395e-01, 1.74212060e-03, 9.47235380e-02, 9.63062489e-02,
        3.93969758e-03, 1.52851157e-01, 6.34575970e-01, 4.61035708e-02,
        1.66469302e-01, 5.07150665e-02, 9.20021862e-03, 7.74025323e-01,
        1.66059392e-01, 8.88139916e-04, 1.07032246e-03, 9.59828748e-01,
        5.69320459e-05, 2.16341774e-04, 1.48023319e-04, 6.14866096e-04,
        2.20327018e-02, 1.15002733e-03, 1.39938969e-02, 2.13267444e-02,
        5.73875023e-03, 9.62572873e-01, 1.03616324e-02]])

In [10]:
y_pred.shape
df.shape
df['y'] = y_pred
(y_pred == labels).value_counts()

False    202206
True      58395
Name: damage_grade, dtype: int64

In [11]:
np.unique(y_pred)

array([0, 1, 2])

In [12]:
np.unique(labels)

array([1, 2, 3], dtype=int64)

In [15]:
y_adjusted = [i + 1 for i in y_pred]
np.unique(y_adjusted)

array([1, 2, 3])

In [26]:
(y_adjusted == labels).value_counts()

False    173664
True      86937
Name: damage_grade, dtype: int64

In [42]:
y_adjusted = [i + 1 if i!=3 else i**0 for i in y_adjusted]

In [47]:
type(labels)

pandas.core.series.Series

In [43]:
(y_adjusted == labels).value_counts()

False    173393
True      87208
Name: damage_grade, dtype: int64